html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
  .title {
    font-size: 1.2rem;
  }

  .content{
    display: flex;
    align-items: center;     /* Center children vertically */
    flex-direction: column;  /* Optional: arrange children in a column */
    flex: 1;
    margin-top: 20px;
  }

  .ta-assignment-container{
    min-height: 100vh;
  }
  
  .apply-section {
    display: flex;

    flex-direction: column;
    width: 75%;
    height: 125px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    align-items: left;
    justify-content: left;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
  }

  .my-courses-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 125px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    align-items: left;
    justify-content: left;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
  }

  .my-applications-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    
    text-align: left;
    position: relative;
    margin-bottom: 50px;
}

h2 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.4rem;
    margin-bottom: 5px;
    text-align: left; /* Ensures the title is left-aligned */
}

.apply-section p, .my-courses-section p {
    font-size: 1.1rem;
    margin-left: 20px;
    margin-bottom: 10px;
}

a {
    color: #365798;
    text-decoration: none;
    font-weight: bold;
}

.my-applications-section a:hover, .my-courses-section a:hover {
    text-decoration: underline;
}

.apply-btn {
    background-color: #365798;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px 20px;
    width: 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.apply-btn:hover {
    background-color: #00509e;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto; /* Centers the table within the container */
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #f0f0f0;
}

  